/* general style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* head 2048 */
.bg-title {
  height: 200px;
  background: #ecc400;
  border-radius: 20px;
}

.bg-title h1 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #fff;
  font-size: 400%;
}

/* menu head */

.menu-head {
  height: 130px;
  background: #766d64;
  border-radius: 20px;
  text-align: center;
}

.menu-head h4 {
  text-transform: uppercase;
  color: #f5e9db;
  padding-top: 10px;
  font-size: 150%;
}

.menu-head h2 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -70%);
  color: #fff;
  font-size: 400%;
}

.menu {
  height: 50px;
  background: #ed995b;
  border-radius: 12px;
}

.menu h4 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 120%;
  line-height: 50px;
}

/* sub-title */

.sub-title {
  font-size: 180%;
  color: #fff;
  padding: 20px 0;
}


/* columns 2048 */

.height {
  height: 290px;
}

.bg-all {
  background: #bbada2;
}

.bg-color-base {
  background: #cdc2b3;
  height: 100%;
  border-radius: 20px;
}

.bg-color-2 {
  background: #eee4da;
  height: 100%;
  border-radius: 20px;
}

.bg-color-2:hover{
  left: -286px
}

.bg-color-4 {
  background: #ece0c8;
  height: 100%;
  border-radius: 20px;
}

.bg-color-8 {
  background: #f2b179;
  height: 100%;
  border-radius: 20px;
}

.bg-color-16 {
  background: #ec8d53;
  height: 100%;
  border-radius: 20px;
}

.bg-color-16:hover{
  top: -290px
}

.bg-color-32 {
  background: #e95937;
  height: 100%;
  border-radius: 20px;
}

.bg-color-32:hover {
  bottom: 290px;
}

.bg-color-64 {
  background: #f57c5f;
  height: 100%;
  border-radius: 20px;
}

.bg-color-256 {
  background: #f1d04b;
  height: 100%;
  border-radius: 20px;
}

h3 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #776e65;
  font-size: 400%;
}

.position {
  position: relative;
}

.bg-color-8 h3,
.bg-color-16 h3,
.bg-color-64 h3,
.bg-color-32 h3,
.bg-color-256 h3 {
  color: #fff;
}

.padding-container {
  padding: 10px 10px;
}

.padding-box {
  padding: 10px;
  height: 100%;
}

/* pixel papers */

.bg-full {
  margin-top: 20px;
  background: #101219;
  height: 810px;
}

.height-pp {
  height: 70px;
}

/* blue */
.blue .color-1 {
  background: #24418d;
}

.blue .color-2 {
  background: #486fd6;
}
.blue .color-3 {
  background: #6484db;
}

.blue .color-4 {
  background: #5e7dd7;
}

.blue .color-5 {
  background: #5d80da;
}

.blue .color-6 {
  background: #93a9e2;
}

.blue .color-7 {
  background: #486ed1;
}

.blue .color-8 {
  background: #2b51b2;
}

.blue .color-9 {
  background: #244393;
}

.blue .color-10 {
  background: #345ecc;
}

.blue .color-1:hover,
.blue .color-2:hover,
.blue .color-3:hover,
.blue .color-4:hover,
.blue .color-5:hover,
.blue .color-6:hover,
.blue .color-7:hover,
.blue .color-8:hover,
.blue .color-9:hover,
.blue .color-10:hover {
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  opacity: 0.8;
}

.blue .color-1,
.blue .color-2,
.blue .color-3,
.blue .color-4,
.blue .color-5,
.blue .color-6,
.blue .color-7,
.blue .color-8,
.blue .color-9,
.blue .color-10 {
  -webkit-transition: -webkit-transform 2s ease-in-out;
  -ms-transition: -ms-transform 2s ease-in-out;
  transition: transform 2s ease-in-out
}

/* violet */
.violet .color-1 {
  background: #8217d7;
}

.violet .color-2 {
  background: #b466ee;
}
.violet .color-3 {
  background: #c186f0;
}

.violet .color-4 {
  background: #bd7ef1;
}

.violet .color-5 {
  background: #bf7ff1;
}

.violet .color-6 {
  background: #dabdf7;
}

.violet .color-7 {
  background: #b268f1;
}

.violet .color-8 {
  background: #b268f1;
}

.violet .color-9 {
  background: #8618db;
}

.violet .color-10 {
  background: #a750ed;
}

.violet .color-1:hover,
.violet .color-2:hover,
.violet .color-3:hover,
.violet .color-4:hover,
.violet .color-5:hover,
.violet .color-6:hover,
.violet .color-7:hover,
.violet .color-8:hover,
.violet .color-9:hover,
.violet .color-10:hover {
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  opacity: 0.8;
}

.violet .color-1,
.violet .color-2,
.violet .color-3,
.violet .color-4,
.violet .color-5,
.violet .color-6,
.violet .color-7,
.violet .color-8,
.violet .color-9,
.violet .color-10 {
  -webkit-transition: -webkit-transform 2s ease-in-out;
  -ms-transition: -ms-transform 2s ease-in-out;
  transition: transform 2s ease-in-out
}

/* pink */
.pink .color-1 {
  background: #d718a3;
}

.pink .color-2 {
  background: #f065ca;
}
.pink .color-3 {
  background: #f186d4;
}

.pink .color-4 {
  background: #f37dd3;
}

.pink .color-5 {
  background: #f27ed3;
}

.pink .color-6 {
  background: #f9bae7;
}

.pink .color-7 {
  background: #ed67c8;
}

.pink .color-8 {
  background: #ea2eb6;
}

.pink .color-9 {
  background: #db18a5;
}

.pink .color-10 {
  background: #eb54bf;
}

.pink .color-1:hover,
.pink .color-2:hover,
.pink .color-3:hover,
.pink .color-4:hover,
.pink .color-5:hover,
.pink .color-6:hover,
.pink .color-7:hover,
.pink .color-8:hover,
.pink .color-9:hover,
.pink .color-10:hover {
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  opacity: 0.8;
}

.pink .color-1,
.pink .color-2,
.pink .color-3,
.pink .color-4,
.pink .color-5,
.pink .color-6,
.pink .color-7,
.pink .color-8,
.pink .color-9,
.pink .color-10 {
  -webkit-transition: -webkit-transform 2s ease-in-out;
  -ms-transition: -ms-transform 2s ease-in-out;
  transition: transform 2s ease-in-out
}

/* red */
.red .color-1 {
  background: #f63262;
}

.red .color-2 {
  background: #f63262;
}
.red .color-3 {
  background: #f77a9a;
}

.red .color-4 {
  background: #fb8aa8;
}

.red .color-5 {
  background: #f894ac;
}

.red .color-6 {
  background: #ffd1dc;
}

.red .color-7 {
  background: #f97c9a;
}

.red .color-8 {
  background: #f6416c;
}

.red .color-9 {
  background: #f31f52;
}

.red .color-10 {
  background: #f66689;

}

.red .color-1:hover,
.red .color-2:hover,
.red .color-3:hover,
.red .color-4:hover,
.red .color-5:hover,
.red .color-6:hover,
.red .color-7:hover,
.red .color-8:hover,
.red .color-9:hover,
.red .color-10:hover {
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  opacity: 0.8;
}

.red .color-1,
.red .color-2,
.red .color-3,
.red .color-4,
.red .color-5,
.red .color-6,
.red .color-7,
.red .color-8,
.red .color-9,
.red .color-10 {
  -webkit-transition: -webkit-transform 2s ease-in-out;
  -ms-transition: -ms-transform 2s ease-in-out;
  transition: transform 2s ease-in-out
}
